%footer.footer
  .container
    .text-center
      %strong
        = "Copyright"
        %i.fa.fa-copyright
        = "DMM"
    .text-center
      %span
        = "2016"
        %i.fa.fa-heart
        = "O-Studio X dOwOb"