<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="well">
      <h3><%= @item.name %></h3>
      <hr>
      <span>數量：  </span><strong><%= @item.amount %></strong>
    </div>
    <%= link_to '返回列表', items_path, class: "btn btn-embossed btn-inverse" %>
  </div>
</div>
